<div [style.display]="display" class="main-container">
        <div class="container">
            <h2>קפסולות</h2>
            <img src="../../../../../assets/static-info/images/Example.jpg">
            <h3>הסבר קצר על איך לצרוך קפסולות</h3>
            <h3>*הסבר הסבר הסבר הסבר הסבר הסבר הסבר*</h3>
            <h3>*הסבר הסבר הסבר הסבר הסבר הסבר הסבר*</h3>
            <h3>*הסבר הסבר הסבר הסבר הסבר הסבר הסבר*</h3>
        </div>
        <br />
        <div class="container">
            <h2>טיפות</h2>
            <img src="../../../../../assets/static-info/images/Example.jpg">
            <h3>הסבר קצר על טיפות</h3>
            <h3>*הסבר הסבר הסבר הסבר הסבר הסבר הסבר*</h3>
            <h3>*הסבר הסבר הסבר הסבר הסבר הסבר הסבר*</h3>
            <h3>*הסבר הסבר הסבר הסבר הסבר הסבר הסבר*</h3>
        </div>
</div>