.container{
    display: flex;
    flex-direction:row;
    min-width:100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:5vh;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(83, 81, 81), rgb(47, 47, 47), rgb(83, 81, 81));
    align-items: end;
    height:4vh;
    color:aliceblue;
}

img{
    align-self: flex-start;
}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
}

h2:hover{
    cursor:pointer;
    opacity: 0.5;
}